@import "vars";
@import "fonts";
@import "libs";
@import "reset";

// Main css >> BEGI
body {
	min-width: 320px;
	position: relative;
	background: $backgroundColor;
	color: $text-color;
	font-size: 16px;
	line-height: 1.65;
	font-family: $default-font;
	overflow-x: hidden;
	input, textarea, select {
		padding: 15px 20px;
		border: #e7e8ea 1px solid;
		border-radius: 6px;
		outline: none;
		&:focus:required:invalid {
			border-color: red;
		}
		&:required:valid {
			border-color: green;
		}
	}
	.container{
		max-width: 1170px;
		margin: 0 auto;  
	}
	.flex{
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		align-items: center;
	}
	.button{
		padding: 10px 20px;
		background: $mainColor;
		border-radius: 6px;
		font-family: $bold-font;
		font-size: 17px;
		letter-spacing: 1px;
		text-align: center;
		cursor: pointer;
		box-shadow: 0px 6px 12px 0px rgba(40, 43, 49, .08);
		&-white{
			background: #fff;
			color: #282b31;
		}
	}
	.tablet{
		max-width: 470px;
		border-radius: 60px;
		box-shadow:  0px 3px 6px 0px rgba(32, 33, 39, .12), 
			inset  0px -2px 6px 0px rgba(40, 43, 49, .06);
			img{
				width: 100%;
			}
	}
	h2{
		margin-bottom: 15px;
		font-size: 35px;
		line-height: 50px;
		font-family: $light-font;
		font-weight: 100;
		letter-spacing: 1px;
		color: #282b31;
		span{
			font-family: $bold-font;
		}
		&+p{
			line-height: 30px;
		}
	}
}
::placeholder {
	color: #b9bdc3;
	font-family: $default-font;
}
// Main css >> END


.header-intro{ 
	background: url(../img/section-bg.jpg) center;
	background-size: cover;
	color: #fff;
	.container{
		position: relative;
	}
	.header{
		margin-bottom: 165px;
		padding-top: 25px;
		&_logo{
			font-size: 20px;
			font-family: $extra-font;
			text-decoration: none;
			color: #fff;
		}
		&_nav-menu{
			li{
				margin-right: 30px;
				float: left;
				cursor: pointer;
				a{
					font-size: 15px;
					text-decoration: none;
					color: #fff;
				}
			}
		}
		&_nav-button{
			margin-right: 30px;
			padding: 10px 20px;
			background: #fff;
			border-radius: 7px;
			font-size: 14px;
			letter-spacing: 1px;
			text-transform: uppercase;
			color: #282b31;
			cursor: pointer;
		}
		&_nav-burger{
			cursor: pointer;
			span{
				width: 16px;
				height: 2px;
				margin-bottom: 4px;
				display: block;
				background: #fff;
				border-radius: 2px;
			}
		}
	}
	.intro{
		&-content{
			width: 45%;
		}
		&-logo{
			width: 90px;
			margin-bottom: 35px;
			cursor: pointer;
		}
		&-text{
			margin-bottom: 35px;
			font-size: 35px;
			font-family: $light-font;
			font-weight: 100;
			line-height: 50px;
			letter-spacing: 1px;
			span{
				font-family: $extra-font;
			}
		}
		&-buttons{
			margin-bottom: 180px;
			justify-content: flex-start;
			& > div:not(:last-child){
				margin-right: 20px;
			}
		}
		&-img{
			position: absolute;
			right: 0;
			top: 20%;
		}
	}
}
.features{
	padding: 250px 0 120px 0;
	&-blocks{
		max-width: 470px;
		.block{
			max-width: 370px;
			padding: 30px 30px 30px 75px;
			&-title{
				position: relative;
				margin-bottom: 10px;
				font-family: $light-font;
				font-weight: 100;
				line-height: 20px;
				color: #282b31;
				span{
					font-family: $extra-font;
				}
				&:before{
					content: '';
					width: 25px;
					height: 25px;
					position: absolute;
					left: -35px;
					top: 0;
					background: url(../img/features-icons.png) no-repeat;
				}
				&-1:before{
					background-position: 0px -13px;
				}
				&-2:before{
					background-position: 0px -108px;
				}
				&-3:before{
					background-position: 0px -206px;
				}
			}
			.icon{
					&:before{
						background-position: 10px 10px;
					}
				}
			&-text{
				font-size: 14px;
				line-height: 25px;
			}
		}
	}
}
.get-started{
	padding: 75px 0;
	background: url(../img/get-started-bg.jpg) center;
	background-size: cover;
	color: #fff;
	&-text{
		width: 50%;
		h2{
			color: #fff;
		}
	}
	&-buttons{
		.button{
			padding: 10px 30px;
		}
		& > div:not(:last-child){
			margin-right: 20px;
		}
	}
}
.advantages{
	padding: 120px 0;
	.blocks{
		 align-items: stretch;
		.block{
			width: 50%;
			text-align: center;
			box-sizing: border-box;
		}
		.block-text{
			padding: 180px 105px;
			background: #fff;
			h2{
				color: #282b31;
			}
		}
		.block-img{
			position: relative;
			background: url(../img/advantages-bg.jpg) center;
			background-size: cover;
			overflow: hidden;
			img{
				width: 405px;
				position: absolute;
				margin-top: 95px;
				transform: translate(-50%);
			}
		}
	}
}
.video{
	padding: 115px 0 160px 0;
	background: url(../img/video-bg.jpg) center;
	background-size: cover;
	text-align: center;
	color: #fff;
	h2{
		color: #fff;
		&+p{
			width: 50%;
			margin: 0 auto 50px auto;
		}
	}
	&-play{
		width: 70px;
		height: 70px;
		margin: 0 auto;
		position: relative;
		border-radius: 50%;
		background: #fff;
		cursor: pointer;
		.triangle {
			position: absolute;
			top: 53%;
			left: 58%;
			width: 25px;
			height: 25px;
			background: url(../img/video-play-icon.png) no-repeat;
			transform: translate(-50%, -50%);
		}
		.circle{
			position: absolute;
			top: 50%;
			left: 50%;
			width: 60px;
			height: 60px;
			border: 3px solid #fff;
			border-radius: 50%;
			transform: translate(-50%, -50%);
			opacity: .5;
			&-1{
				animation: circle 3s linear infinite;
			}
			&-2{
				animation: circle 3s linear infinite 1s;
			}
			&-3{
				animation: circle 3s linear infinite 2s;
			}
		}
	}
}
.pricing{
	padding: 140px 0;
	.container{
		align-items: baseline ;
	}
	&-text{
		width: 30%;
		h2{
			color: #282b31;
			&+p{
				margin-bottom: 20px;
			}
		}
		.licence{
			&-text{
				display: inline-block;
			}
			&-value{
				position: relative;
				margin-bottom: 20px;
				display: inline-block;
				select{
					margin-left: 10px;
					padding: 10px 60px 10px 15px;
					background: #fff;
					border: 0;
					border-radius: 4px;
					font-size: 14px;
					font-family: $default-font;
					line-height: 22px;
					box-shadow: 0px 2px 6px 0px rgba(40, 43, 49, .08);
					appearance: none;
				}
				&:after{
						content: '';
						position: absolute;
						top: 50%;
						right: 10px;
						display: block;
						border: 0 solid transparent;
						border-left-width: 5px;
						border-right-width: 5px;
						border-top: 5px solid #b9bdc3;
						transform: translateY(-50%);
						z-index: 999;
					}
			}
		}
		.promo{
			&-input,
			&-button{
				box-shadow: 0px 2px 6px 0px rgba(40, 43, 49, .08);
			}
			&-input{
				padding: 12px 15px;
			}
			&-button{
				padding: 9px 40px;
				background: linear-gradient(to right, #7956ec, #2fb9f8);
				font-size: 14px;
				font-family: $bold-font;
				letter-spacing: 1px;
				color: #fff;
			}
		}
	}
	&-blocks{
		width: 60%;
		.block{
			position: relative;
			width: 49%;
			padding: 50px 0 120px 0;
			background: #fff;
			border-radius: 12px;
			align-self:  stretch;
			text-align: center;
			box-shadow: 0px 1px 3px 0px rgba(32, 33, 39, .12);
			transition: all .3s;
			&-name{
				margin-bottom: 30px;
				padding: 15px;
				display: block;
				background: #f8f9fa;
				text-transform: uppercase;
				font-size: 11px;
				font-family: $bold-font;
				letter-spacing: 2px;
				box-shadow: 0px 1px 0px 0px #e7e8ea, inset 0px 1px 0px 0px #e7e8ea;
			}
			&-price{
				height: 80px;
				margin-bottom: 20px;
				font-family: $light-font;
				font-weight: 100;
				font-size: 40px;
				color: #282b31;
				transition: all .3s; 
			}
			&-list{
				margin-bottom: 40px;
				padding: 0 50px 0 80px;
				text-align: left;
				line-height: 30px;
				li{
					position: relative;
					font-size: 15px;
					&:before{
						content: '✓';
						position: absolute;
						left: -25px;
						top: 10%;
						width: 20px;
						height: 20px;
						color: #999ea8;
					}
				}
			}
			&-button{
				position: absolute;
				bottom: 60px;
				left: 50%;
				min-width: 65%;
				background: linear-gradient(to right, #009fc5, #3cecb0);
				color: #fff;
				transform: translateX(-50%);
				cursor: pointer;
			}
			&:hover{
				background: url(../img/price-active-bg.png) center;
				background-size: cover;
				color: #fff;
				transform: scale(1.1);
				z-index: 9;
			}
			&:hover .block-name{
				background: rgba(255, 255, 255, .07);
				box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, .3), 
					inset 0px 1px 0px 0px rgba(255, 255, 255, .3);
			}
			&:hover .block-price{
				margin-bottom: 20px;
				font-size: 60px;
				color: #fff;
			}
			&:hover .block-list li:before{
				color: #fff;
				opacity: .6;
			}
			&:hover .block-button{
				background: $mainColor;
			}
		}
	}
}
.send-message{
	padding: 120px 0;
	background: url(../img/section-bg.jpg) center;
	background-size: cover;
	text-align: center;
	color: #fff;
	h2{
		color: #fff;
		&+p{
			width: 50%;
			margin: 0 auto 60px auto;
		}
	}
	.form{
		width: 65%	;
		padding: 70px;
		display: inline-block;
		background: #fff;
		border-radius: 12px;
		box-shadow: 0px 12px 24px 0px rgba(40, 43, 49, .16);
		input, textarea, select{
			background: $backgroundColor;
			font-size: 17px;
			font-family: $default-font;
			color: #b9bdc3;
		}
		input[type=text], select{
			width: 47%;
			margin-bottom: 20px;
			box-sizing: border-box;
		}
		textarea{
			width: 100%;
			margin-bottom: 30px;
			box-sizing: border-box;
		}
		input[type=submit]{
			padding: 15px 25px;
			background: $mainColor;
			color: #fff;
		}
	}
}
.footer{
	padding: 30px 0;
	&-logo{
		font-family: $extra-font;
		line-height: 25px;
		font-size: 20px;
		color: #282b31;
	}
	&-copyright{
		text-align: center;
		font-size: 11px;
		color: #999ea8;
		a{
			font-family: $bold-font;
			text-decoration: none;
			color: #282b31;
		}
		.heart {
			color: #ff4876;	
		}
	}
	&-social{
		border: 1px solid #e7e8ea;
		border-radius: 6px;
		div{
			width: 40px;
			height: 40px;
			background: url(../img/footer-icon.png) no-repeat;
			background-position: 5px 12px;
			cursor: pointer;
			transition: all .3s;
			&:not(:last-child){
				border-right: 1px solid #e7e8ea;
			}
			&:last-child{
				background-position: -75px 12px;
			}
		}
		.facebook{
			background-position: -35px 12px;
		}
	}
}

@keyframes circle {
	from {
		opacity: .5;
		width: 60px;
		height: 60px;
		border: 3px solid #fff;
	}
	to {
		opacity: .1;
		width: 130px;
		height: 130px;
		border: 1px solid #fff;
	}
}

@import "media"; // Always at the end
